[Desktop Entry]
Encoding=UTF-8
Name=GWinWrap
Comment=Glade gui with python controls for XWinWrap
Exec=gwinwrap
Icon=/opt/GWinWrap/resources/icons/GWinWrap.png
Terminal=false
Type=Application
Categories=Accessories;System;Settings;
